.login {
  // overflow-y: auto; /* Dikey kaydırma etkin */
  // scroll-snap-type: y mandatory; /* Kaydırma noktalarını etkinleştir */
  // overflow: hidden;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  &-container {
    height: calc(100svh - 71px);
    margin-top: 71px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}
