@import "~/assets/styles/variables.scss";

.customMessage {
  margin-top: 6px !important;
  color: #666d71;
  font-family: $font400;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  &.error {
    color: #f05353;
  }
  &.warning {
    color: #feb72f;
  }
  &.success {
    color: #75c245;
  }
}
