@import "~/assets/styles/variables.scss";

.item {

  &-icon {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}