@import "~/assets/styles/variables.scss";

.customLabel {
  font-family: $font400;
  color: #AEB1B8;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 116.667%;

  h1 {
    font-family: inherit;
  }
}
