@import "~/assets/styles/variables.scss";
.loading {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .loading-inner {
    margin: 0% auto;
  }
  background-color: white;
  &.half {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    z-index: 3001;
  }
}
.root {
  .MuiCircularProgress-colorPrimary {
    color: $primary;
  }
}
