@import "~/assets/styles/variables.scss";

.iconButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none !important;
  font-family: $font400;
  padding: 0 !important;
  // outline: 1px solid #999ea0 !important;
  // color: #999ea0;
  // border-radius: 4px;
  background-color: transparent !important;

  & svg {
    fill: $primary;
    transition: 0.2s;
  }

  &:disabled {
    svg {
      transition: 0.2s;

      fill: #cfd4e5;
    }
  }

  &.medium {
    width: 48px;
    height: 48px;
  }

  &.blue:hover {
    color: $blue;
    outline-color: $blue;
    // background: $blueTransparent;
    svg {
      path {
        fill: $blue;
      }
    }
    &.active {
      background: $blue;
      color: #fff;
    }
  }
  &.green:hover {
    color: $green;
    outline-color: $green;
    // background: $greenTransparent;
    svg {
      path {
        fill: $green;
      }
    }
    &.active {
      background: $green;
      color: #fff;
    }
  }
  &.red:hover {
    color: $red;
    outline-color: $red;
    // background: $redTransparent;
    svg {
      path {
        fill: $red;
      }
    }
    &.active {
      background: $red;
      color: #fff;
    }
  }
}
