// fonts
$font100: "font100";
$font200: "font200";
$font300: "font300";
$font400: "font400";
$font500: "font500";
$font600: "font600";
$font700: "font700";

// colors
$primary: #ff3378;
$secondary: #33c9ff;
$optional: #41e94b;
$green: #3ece7e;
$white: #ffffff;
$black: #000000;
$text: #1C202E;
$dark: #b2b2b2;

$blue: #49b8fc;
$red: #ff0000;
$update: #3fb7e9;
$mainInput: #484a4c;
$secondaryInput: #b6b7b7;
