@import "~/assets/styles/variables.scss";

.stat {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  
  &-container {
    overflow: auto;
    height: calc(100svh - 226px);
    margin-top: 146px;
  }
}